{% extends 'dash/base.html' %} 
{% load static %} 
{% block content %}
<section class='text-center container'>
    <h2>Student Dictionary</h2>
    <p>Enter any word to get the phonetics, definition and an example for the word</p>
    <div class="row">
        <div class="col-md-5 mx-auto">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row g-3 align-items-center ">
                    <div class="col-auto">
                        <label for="id_text" class="col-form-label">Enter the Text:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="id_text" name="text" class="form-control" placeholder="Dictionary">
                    </div>
                    <div class="col-auto">
                        <input class="btn btn-danger" type="submit" value="Search">
                    </div>
                </div>
            </form><br>
        </div>
    </div>

{% if input %}
    <div class="content-section p-0 mt-5">

        <div class="custom-header">
            <h2>{{input}}</h2>
            <h6>{{phonetics}}</h6>
            <audio id="player" src="{{audio}}"></audio>
            <div>
                <a onClick="document.getElementById('player').play()"><i class='fa fa-volume-up fa-2x'></i></a>
            </div>
        </div>

        <hr class="p-0 m-0">

        <p class="float-left">
            <h4>Definition: {{definition}}</h4>
            <h4>Example: {{example}}</h4>
        </p>
        Synonyms:
        {% for syn in synonyms %}
        {{syn}}
        {% endfor %}
        <hr>

    </div>
    {% else %}
    <h2>Sorry, API request limit exceeded</h2>
    {% endif %}
</section>
{% endblock content %}