{% extends 'dash/base.html' %} 
{% load static %} 
{% block content %}
<div class="container">
  <legend class="border-bottom mb-4">Log In</legend>
 <div class="row">
  <div class="col-md-6">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        <input type="text" class="form-control" id="id_username" name="username">
      </div>
      <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        <input type="password" class="form-control" id="id_password" name="password">
      </div>
      
      <button type="submit" class="btn btn-outline-info">Login</button>
    </form>
  </div>
 </div>
  <div class="border-top pt-3">
    <p class="text-muted">Need an Account?
      <a class="ml-2" href="{% url 'register' %}">Create an Account</a>
    </p>
  </div>
</div>
{% endblock content %}