{% extends 'dash/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="col-md-5">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <div>
                    <strong class="text-capitalize">{{request.user}}</strong>! {{message}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if not notes_done %}
    <div class="row">
        {% for n in notes %}
        <div class="col-md-3">
            <a href="{% url 'notesdetails' n.id %}" class="">
                <div class="card ">
                    <div class="card-header">{{n.title}}</div>
                    <div class="card-body">{{n.discription}}</div>
                    <div class="card-footer mt-auto ">
                        <a href="{% url 'notesdelete' n.id %}"><i class="fa fa-trash fa-2x"></i></a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <br><br>
    </div>
    {% else %}
    <h4>All tasks have been done!! create Notes more</h4>
    {% endif %}
</div>
<br><br>
<div class="container">
    <legend class="border-bottom mb-4">Create Notes</legend>
    <div class="row">
        <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_user" class="form-label">User:</label>
                    <select name="user" class="form-control" required="" id="id_user">
                        <option value="" select="">Select</option>
                        <option value="1" select="">Akhtar</option>
                        <option value="2" select="">Azhar</option>
                    </select>

                </div>
                <div class="mb-3">
                    <label for="id_title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="id_title" name="title">

                </div>
                <div class="mb-3">
                    <label for="id-discription" class="form-label">Discription</label>
                    <input type="text" class="form-control" id="id-discription" name="discription">
                </div>

                <button type="submit" class="btn btn-outline-primary">Create</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}