{% extends 'dash/base.html' %} {% load static %} {% block content %}
<section class="text-center">
    <div class="container">
        {% if not todo_done %}
        <h2>Due ToDos</h2>
        <table class="table table-striped table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for l in list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{l.title}}</td>
                    <td>
                        <a href="#">
                            <div class="form-check">
                                {% if l.status == True %}
                                <input class="form-check-input" type="checkbox" value="" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" value="" />
                                {% endif %}
                                <label class="form-check-label text-light" for="flexCheckDefault">
                                    Mark as Completed
                                </label>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="#"><i class="fa fa-trash fa-2x"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4>All To dos are completed!!!!</h4>
        {% endif %}

        <a href="{% url 'todo' %}" class="btn btn-danger">To Do</a>
        <br /><br />

        {% if not work_done %}
        <h2>Due Homeworks</h2>
        <table class="table table-striped table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due</th>
                    <th scope="col">Status</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for f in fm %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{f.subject}}</td>
                    <td>{{f.title}}</td>
                    <td>{{f.discription}}</td>
                    <td>{{f.due}}</td>

                    <td>
                        <a href="#">
                            <div class="form-check">
                                {% if f.status == True %}
                                <input class="form-check-input" type="checkbox" value="" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" value="" />
                                {% endif %}
                                <label class="form-check-label text-light" for="flexCheckDefault">
                                    Mark as Completed
                                </label>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="#"><i class="fa fa-trash fa-2x"></i></a>
                    </td>

                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
        <h4>All To homeworks are completed!!!!</h4>
        {% endif %}

        <a href="{% url 'homework' %}" class="btn btn-danger">Homeworks</a>
    </div>
</section>

{% endblock content %}