{% extends 'dash/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <div>
                    <strong class="text-capitalize">{{request.user}}</strong>! {{message}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if not todo_done %}
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for l in list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{l.title}}</td>
                <td>
                    <a href="{% url 'update_todo' l.id %}">
                        <div class="form-check">
                            {% if l.status == True %}
                            <input class="form-check-input" type="checkbox" value="" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="">
                            {% endif %}
                            <label class="form-check-label text-light" for="flexCheckDefault">
                                Mark as Completed
                            </label>
                        </div>
                    </a>
                </td>
                <td><a href="{% url 'tododelete' l.id %}"><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>All tasks have been done!! create to add more</h4>
    {% endif %}
</div><br><br>
<div class="container">
    <legend class="border-bottom mb-4">Create Todo</legend>
    <div class="row">
        <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_user" class="form-label">User:</label>
                    <select name="user" class="form-control" required="" id="id_user">
                        <option value="" select="">Select</option>
                        <option value="1" select="">Akhtar</option>
                        <option value="2" select="">Azhar</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_title" class="form-label">Title</label>
                    <input type="" class="form-control" id="id_title" name="title">
                </div>
                
                <button type="submit" class="btn btn-outline-primary">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}