{% extends 'dash/base.html' %}
{% load static %}
{% block content %}

<section class='text-center container'>
    <h2>Search articles in wikipedia</h2>
    <p>just enter the search query to obtain the results</p><b>Enter without any space</b>
    <div class="row">
        <div class="col-md-5 mx-auto">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row g-3 align-items-center ">
                    <div class="col-auto">
                        <label for="id_text" class="col-form-label">Enter the Text:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="id_text" name="text" class="form-control" placeholder="Wikipedia">
                    </div>
                    <div class="col-auto">
                        <input class="btn btn-danger" type="submit" value="Search">
                    </div>
                </div>
            </form><br>
        </div>
    </div>

    <div class="container">
        <div class="content-section p-0 mt-5">
            <a href="" class="p-0 m-0" target="_blank">
                <div class="custom-header">
                    <h2>{{title}}</h2>{{title}}
                    <h6>{{link}}</h6>
                </div>
            </a>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{details}}
            </p>
            <hr>
        </div>
    </div>

</section>

{% endblock content %}