{% extends 'dash/base.html' %}
{% load static %}
{% block content %}
<section class='text-center container'>
    <h2>Search Videos in Youtube</h2>
    <p>search videos and select any video to open in youtube</p>
    <div class="row">
        <div class="col-md-5 mx-auto">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row g-3 align-items-center ">
                    <div class="col-auto">
                        <label for="id_text" class="col-form-label">Enter the Text:</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="id_text" name="text" class="form-control" placeholder="searh video">
                    </div>
                    <div class="col-auto">
                        <input class="btn btn-danger" type="submit" value="Search">
                    </div>
                </div>

            </form><br>
        </div>
    </div>
    
{% for res in result %}
    <a href="{{res.link}}" target="_blank">
        <div class="card mt-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" src="{{res.thumbnail}}" alt="">

                    </div>
                    <div class="col-md-7">
                        <h3 class="p-0 m-0">{{res.title}}</h3>
                        <b>
                            <u>
                                <h5 class="p-0 m-0">{{res.channel}}</h5>
                            </u>
                        </b>
                        <h6 class="p-0 m-1">{{res.description}}</h6>
                        <b>
                            <h6 class="ml-0 mt-3">{{res.duration}}</h6> 
                            <h6 class="ml-0 mt-1">{{res.views}}</h6>
                            <h6 class="ml-0 mt-1">{{res.published}}</h6>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    <br>
</section>

{% endblock content %}